body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

#titulo1 {
    font-size: 6rem;
    text-align: center;
    padding-top: 1rem;
    border: 0rem;
    margin: 0rem;
    grid-column: span 6, 8;
}

#titulo2 {
    font-size: 4rem;
    text-align: center;
    padding: 0rem;
    border: 0rem;
    margin: 0rem;

}

#menulink {
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    text-align: center;
    background-color: rgb(234, 186, 32);
    grid-column: span 12;


}

#link {
    color: #748E62;
}


body {
    background-color: whitesmoke;
}

.enmedio {
    text-align: center;
}

.left {
    text-align: left;
    padding-right: 131px;
    border-left: 4px #748E62 dotted;
    padding-left: 30px;
    padding-top: 30px;
    margin: 30px;
}